{
    "presets": [
        [
            "@babel/preset-react"
        ],
        [
            "@babel/preset-env",
            {
              "targets": {
                "esmodules": true,
                "chrome": 59,
                "edge": 13,
                "firefox": 50
              }
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime", "transform-export-extensions"]
}